VisiBrick/obj/Debug/net10.0-android/VisiBrick.AssemblyInfo.cs
VisiBrick/obj/Debug/net10.0-android/VisiBrick.AssemblyInfoInputs.cache
VisiBrick/obj/Debug/net10.0-ios/iossimulator-arm64/VisiBrick.AssemblyInfo.cs
VisiBrick/obj/Debug/net10.0-ios/iossimulator-arm64/VisiBrick.AssemblyInfoInputs.cache
VisiBrick/obj/Debug/net10.0-maccatalyst/maccatalyst-arm64/VisiBrick.AssemblyInfo.cs
VisiBrick/obj/Debug/net10.0-maccatalyst/maccatalyst-arm64/VisiBrick.AssemblyInfoInputs.cache

# MAUI / .NET cleanup
bin/
obj/
.vs/
.DS_Store
*.user
*.suo
